{% if item %}
<div class="row  justify-content-between " id="cart-item-{{item.product.id}}">
    <div class="col-auto col-md-7">
        <div class="media flex-column flex-sm-row">
            <img class=" img-fluid" src="{{item.product.get_product_image}}" width="62" height="62">
            <div class="media-body  my-auto">
                <div class="row ">
                    <div class="col-auto">
                        <p class="mb-0"><b>{{item.product.name}}</b></p>
                        <!-- <small class="text-muted"></small> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-0 flex-sm-col col-auto  my-auto">
        <div class="col">
            <a 
                class="btn btn-sm btn-primary"
                herf="#"
                hx-get="{% url 'cart:update_cart' item.product.id 'decrement' %}"
                hx-target="#cart-item-{{item.product.id}}"
                hx-swap="outerHTML"
                >-</a>
                    <span class="text-dark text-muted ps-2 pe-2"><b>{{item.quantity}}</b></span>
            <a 
                class="btn btn-sm btn-primary"
                herf="#"
                hx-get="{% url 'cart:update_cart' item.product.id 'increment' %}"
                hx-target="#cart-item-{{item.product.id}}"
                hx-swap="outerHTML"
            >+</a>

        </div>
    </div>
    <div class=" pl-0 flex-sm-col col-auto  my-auto ">
        <p><b>{{item.total_price}}</b></p>
    </div>
</div>
<!-- <hr class="my-2"> -->
{% endif %}