{% extends 'auth_base.html' %}
{% block title %}Payment |Success{% endblock %}
{% block content %}
<div class="widget card shadow-lg">
    <div class="card-body p-5">
        <div class="row  justify-content-between">
            <div class="text-center text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                </svg>
                <div class="my-3">
                    <h3><b>Payment Canceled</b></h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-between my-2">
            <div class="col-4">
                <p class="mb-1"><b>Subtotal</b></p>
            </div>
            <div class="flex-sm-col col-auto">
                <p class="mb-1"><b>${{ cart.get_total_cost }}</b></p>
            </div>
        </div>
    </div>
    <div class="card-footer py-3 border-0">
        <!-- <div class="text-center">
            Already have an account? <a href='{% url "accounts:login" %}' class="text-dark">Login</a>
        </div> -->
    </div>
</div>
{% endblock %}