{% extends 'base.html' %}
{% block content %}
<div class="col-lg-3">
	<!-- Search widget-->
	<div class="widget">
		<h4 class="widget-title"><span>Search</span></h4>
		<form method="GET" action="{% url 'shop:shop' %}" class="needs-validation shadow" novalidate="" autocomplete="off">
			{% csrf_token %}
			<div class="input-group">
				<input class="form-control" name="query" type="text" placeholder="Enter search term..."
					aria-label="Enter search term..." aria-describedby="button-search" />
				<button class="btn btn-primary btn-sm" id="button-search" type="submit">Search</button>
			</div>
		</form>
	</div>
	<!-- Categories widget-->
	<div class="card mb-3">
		<div class="widget widget-categories">
			<h4 class="widget-title"><span>Categories</span></h4>
			<ul class="list-unstyled widget-list">
				{% for category in categories %}
				<li><a href="{% url 'shop:shop' %}?category={{category.slug|urlencode}}"
						class="d-flex {% if active_category == category.slug %}active{% endif %}">{{category.name|title}} <small class="ml-auto">(0)</small></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Side widget-->
	<!-- <div class="card mb-4">
		<div class="card-header">Side Widget</div>
		<div class="card-body">You can put anything you want inside of these side widgets. They are easy
			to
			use, and feature the Bootstrap 5 card component!</div>
	</div> -->
</div>
<div class="col-lg-9 border-left">
	<!-- Product list -->
	<div class="row justify-content-center">
		{% if products|length == 0%}
			<header>
				<div class="container">
					<div class="alert alert-primary">
					There are no products to display.
					</div>
				</div>
			</header>
		{% else %}
			{% for product in products %}
				{% include 'partial/product_list_item.html'%}
			{% endfor %}
		{% endif %}
	</div>
</div>
<!-- Product list End -->

</div>
{% endblock content %}